#centro-desarrollo {
    background-color: #e8c2f1;
    padding: 20px;
}

#cuadro-1 {
    background-color: #f0f0f0;
    padding: 20px;
}

#cuadro-2 {
    background-color: #e3f5e8;
    padding: 20px;
}

#busca-espacio {
    background-color: #ffe6b3;
    padding: 20px;
}

.container .text-box {
    border: 2px solid #ddd;
}

.container .video {
    border: 2px solid #ddd;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background-color: #f0f0f0e5;
    display: flex;
    flex-direction: column;
}

.img{ 
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.menu-button:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.container{ 
    display: flex;
    justify-content: space-between;
}

.text-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: left;
    margin-bottom: 20px;
}

.video {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
}

.form {
    margin-bottom: 10px;
    color: aquamarine;
}

@media (min-width: 600px) {
    body {
        font-size: 20px;
    } 
}

footer {
    background-color: #fbfcfc;
    color: rgb(139, 106, 130);
    padding: 20px;
    text-align: center;
    margin: 5px 0;
}